@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  color: #eee;
}

#Images {
  height: 30px;
  width: 30px;
  float: left;
}

#type {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
}
.container {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  /* position: absolute; */
}
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}

.next{
  z-index: 1;
  float: right;
  height: 100vh;
  width: 60px;
  position: absolute;  
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next:hover{
  opacity: 30%;
  background-color: gray;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
